main {
  font-family: "Roboto", sans-serif;
  color: #343a40;
  margin: 0;
  padding: 0;
  display: flex;
  flex: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.create-form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}
.create-form div {
  margin-bottom: 10px;
}
.create-form div label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.create-form div input[type=text],
.create-form div input[type=file],
.create-form div textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #6c757d;
  border-radius: 5px;
  font-size: 16px;
}
.create-form div textarea {
  resize: none;
  height: 100px;
}

img {
  border-radius: 5px;
  max-width: 100px;
  margin-top: 10px;
}

.box-btn-form {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.submit {
  background-color: #007BFF;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 150px;
}

.list {
  background-color: #6c757d;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 150px;
}