@charset "UTF-8";
.site-header {
  width: 100%;
  background-color: #fff;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  height: 40px;
}

.search-bar {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-bar form {
  display: flex;
  width: 60%;
  max-width: 400px;
  position: relative;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
  background: #eeeeee;
}

.search-bar button {
  padding: 8px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
}

.search-bar button i {
  color: #A9A9A9;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info div {
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
}

.user-info i {
  margin-left: 15px;
}

.dd-infos {
  display: flex;
  flex-direction: column;
}

.user-profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-profile {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.arrow-down-icon {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
}

/* Estilos básicos do menu */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow: hidden;
  display: flex;
}

.menu > li {
  float: left;
}

.menu > li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #343a40;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

@media (max-width: 768px) {
  body {
    width: 100%;
  }
  .search-bar {
    display: none;
  }
  .logo img {
    height: 20px;
  }
  .user-info div {
    display: none;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 5px;
  }
}